In [1]:
import pandas as pd
import re
from top2vec import Top2Vec

In [2]:
df = pd.read_json("data/vol7.json")
df

,names,descriptions
0,"AARON, Thabo Simon",An ANCYL member who was shot and severely inju...
1,"ABBOTT, Montaigne",A member of the SADF who was severely injured ...
2,"ABDUL WAHAB, Zakier",A member of QIBLA who disappeared in September...
3,"ABRAHAM, Nzaliseko Christopher",A COSAS supporter who was kicked and beaten wi...
4,"ABRAHAMS, Achmat Fardiel",Was shot and blinded in one eye by members of ...
...,...,...
21742,"ZWENI, Ernest",One of two South African Police (SAP) members ...
21743,"ZWENI, Lebuti",An ANC supporter who was shot dead by a named ...
21744,"ZWENI, Louis","Was shot dead in Tokoza, Transvaal, on 22 May ..."
21745,"ZWENI, Mpantesa William",His home was lost in an arson attack by Witdoe...
21746,"ZWENI, Xolile Milton",A Transkei Defence Force (TDF) soldier who was...

In [3]:
docs = df.descriptions.tolist()

In [4]:
docs = [d.replace("See ", "") for d in docs]
docs = [re.sub(r"\([^()]*\)", "", d).replace(" .", ".") for d in docs]
docs[100]

'Was interrogated, tortured and killed by AZAPO members along with five other scholars in Soweto, Johannesburg, on 1 August 1986. The incident was sparked off by the burning of the house of an AZAPO leader for which the youths were believed to have been responsible. Three perpetrators were refused amnesty, and one was granted amnesty.'